fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
python-multipart
pydantic
python-jose
aiofiles
numpy
librosa
soundfile
matplotlib
fpdf
qrcode
reportlab
passlib[bcrypt]
Pillow
PyJWT
requests
speechbrain
torch
torchaudio



